@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
</div>

<div class="row">
	<div class="col-md-12">
		<h1>Events</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<strong>Application</strong>
	</div>
	<div class="col-md-2">
		<strong>Environment</strong>
	</div>
	<div class="col-md-2">
		<strong>Type Name</strong>
	</div>
	<div class="col-md-2">
		<strong>Time Stamp</strong>
	</div>
	<div class="col-md-4">
		<strong>Description</strong>
	</div>
</div>
<hr />
@foreach (var item in Model.Events)
{
	<div class="row">
		<div class="col-md-2">
			@item.ApplicationName
		</div>
		<div class="col-md-2">
			@item.EnvironmentName
		</div>
		<div class="col-md-2">
			@item.TypeName
		</div>
		<div class="col-md-2">
			@item.TimeStamp
		</div>
		<div class="col-md-4">
			@item.Description
		</div>
	</div>

}
